body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
}



.header {
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    opacity: 100%;
    color: white;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    font-family: 'Poppins', sans-serif;
}

.first-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 31px; 
    position: relative;
}

a {
    color: white;
    text-decoration: none;
}

.logo {
    width: 150px;
    margin-left: 91px;
    z-index: 1;

}

.logo-image {
    height: 43px;
    cursor: pointer;
}

.list {
    width: 550px;
}


ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 13px;
    margin-left: 28px;
    
}


li {
    cursor: pointer;
    position: relative;
    margin-right: 36px;
    font-weight: 400;
    z-index: 1;
}

li:after {
    content: '';
    position: absolute;
    background-color: #f84734;
    height: 1.2px;
    width: 0;
    left: 0;
    margin: auto;
    bottom: -3px;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.5s ease;
    z-index: 1;
}

li:hover::after {
    width: 100%;
    transition: 0.5s;
    visibility: visible;
    transform: scaleX(1);
    z-index: 1;

}

.middle-section {
    position: absolute; 
    
}

.middle-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-section h1 {
    margin-top: 153px;
    font-size: 62px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0;
}

.middle-section p {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    line-height: 1.6em;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 20px;
}


.button-visit {
    padding: 12px 34px;
    background: transparent;
    color: white;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    font-size: 13px;
    cursor: pointer;
    position: relative;
    margin-top: 37px;
    z-index: 1;
}

.button-visit:hover {
    background-color: cornflowerblue;
    border: cornflowerblue;
    transition: 1s;
}

.courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 797px;
    color: black;
}

.courses h1 {
    font-size: 36px;
    font-weight: 600; 
    margin-bottom: 0;
    
}

.courses p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    width: 80%;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    margin-top: 10px;

}

.programs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 40px;
    margin: 20px 50px;
    padding: 20px 94px;
    align-items: center;
    margin-top: 37px;
}

.program-groups {
    align-items: center;
    text-align: center;
    background-color: #fff3f3;
    border-radius: 10px;
}

.program-groups:hover {
    box-shadow: 0 0 20px 0px rgb(0 0 0 / 20%);
}

.program-groups h1 {
    font-size: 19px;
    font-weight: 600;
    margin-top: 19px;
    padding: 12px 20px;
    margin-bottom: 0;

}

.program-groups p {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    color: #777;
    text-align: center;   
    padding: 10px 24px;
    margin-top: 0;
    margin-bottom: 17px;
}


.campus {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.campus h1 {
    font-size: 36px;
    font-weight: 600; 
    margin-bottom: 0;
}

.campus p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    width: 80%;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    margin-top: 10px;
}

.photos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 53px;
    flex-wrap: wrap;
    gap: 22px;
    position: relative;
    
}

.photo-groups img {
    width: 390px;
    border-radius: 10px;
    position: relative;
}

.facilities {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.facilities h1 {
    font-size: 36px;
    font-weight: 600; 
    margin-bottom: 0;
}

.facilities p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    width: 80%;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    margin-top: 10px;
}

.facilities-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 53px;
    flex-wrap: wrap;
    gap: 45px;
    position: relative;
}

.facilities-group {
    margin-top: 0;
}

.facilities-group img {
    width: 370px;
    border-radius: 10px;
    margin-top: 0;
   
}

.facilities-group h1 {
    font-size: 19px;;
    font-weight: 600;
    margin-top: 15px;
}

.facilities-group p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    width: 370px;
    margin-top: 0;
}

.students {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.students h1 {
    font-size: 36px;
    font-weight: 600; 
    margin-bottom: 0;
}

.students p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    width: 80%;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    margin-top: 10px;
}

.feedback {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
    
}

.feedback-box {
    background-color: #fff3f3;
    width: 580px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 20px;
    margin-top: 50px;
}

.feedback-photo {
    width: 100px;
    margin-right: 23px;
    margin-left: 30px;
    margin-top: 30px;
    align-items: center;

}
.feedback-box img {
    width: 50px;
    border-radius: 30px;
}

.text {
    margin-top: 15px;
    width: 800px;
    margin-left: 0;
    margin-right: 20px;
}

.comment {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px

}

.author {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
}

.stars {
    font-size: 22px;
    margin-top: 10px;
}

.enroll {
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('banner2.jpg');
    background-size: cover;
    background-position: center;
    opacity: 100%;
    color: white;
    margin-top: 50px;
    position: absolute;
    height: 64vh;
    width: 100%;
    border-radius: 10px;
    margin-top: 160px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enroll p {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    width: 700px;
    line-height: 95px;
    margin-top: 80px;
    margin-bottom: 0;
}

.button-visit2 {
    padding: 12px 34px;
    background: transparent;
    color: white;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    font-size: 13px;
    cursor: pointer;
    position: relative;
    margin-top: 40px;
    z-index: 1;
}

.button-visit2:hover {
    background-color: cornflowerblue;
    border: cornflowerblue;
    transition: 1s;
}

.footer {
    margin-top: 750px;;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer h1 {
    font-size: 15px;
    font-weight: 600;
}

.footer p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    width: 80%;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    margin-top: 10px;

}















